*.o
*.dep.mk
*.svg
.*.swp
classify
influence_areas
datatools/canonicalize
datatools/generate_entry_grid
datatools/generate_spiral
datatools/generate_svg
datatools/strip_entry_category
mahalanobis/pixel_chooser
test/test
