# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.las
*.lof
*.log
*.lot
*.lsb
*.nav
*.out
*.snm
*.thm
*.toc
*.vrb

# Dependency management
*.dep.mk

# Vim temporaries
.*.swp

# Binary output
*.png

# Compiled binaries
*.o
*.pdf
classify
ibl
influence_areas
pixel_chooser
pixel_classifier
datatools/canonicalize
datatools/generate_spiral
datatools/show
datatools/strip_entry_category
test/test
